# EditorConfig: http://EditorConfig.org

# Top-most EditorConfig file
root = true

# Defaults for all editor files
[*]
insert_final_newline = true
indent_style = space
indent_size = 4
continuation_indent_size = 8
trim_trailing_whitespace = true
max_line_length = 100

# YAML is fussy about indenting and charset
[*.yml]
indent_style = space
indent_size = 2
continuation_indent_size = unset
charset = utf-8

# Markdown is fussy about indenting
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespaces = false

# Files with a smaller indent
[*.{json,xml}]
indent_size = 2
continuation_indent_size = 4

# IntelliJ files don't end in new lines
[*.iml]
insert_final_newline = false
[.idea/**]
insert_final_newline = false
